<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <h1>Input Form</h1>
    <form action="/bfhl" method="POST">
        <label for="data">Enter data (comma-separated):</label><br>
        <input type="text" id="data" name="data" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
